.mt-body-index {

	.mt-module-title {
		text-align: center;
		border-bottom: 1px solid #ccc;
		height: 66px;
		position: relative;

		strong {
			font-family: MicrosoftYaHei;
			font-size: 32px;
			font-weight: normal;
			font-stretch: normal;
			line-height: 34px;
			letter-spacing: 1px;
			color: #333333;
			position: absolute;
			background-color: white;
			padding: 0 40px;
			margin-bottom: -14px;
			position: absolute;
			bottom: 0;
			margin-left: -122px;
		}
	}
	
	.mt-module-product {
		height: 785px;

		.el-product-content {
			margin-top: 66px;

			.el-product-list:hover {
				background-color: #daa879;
			}
			.el-product-list {
				transition: all 1.5s;
				height: 279px;
				width: 395px;
				float: left;
				overflow: hidden;
			}

			.el-product-list1,
			.el-product-list3,
			.el-product-list5 {
				background-color: #d8b38f;
				padding: 46px 32px;
				text-align: center;
				
				.el-product-title {
					font-family: FZLTZHK--GBK1-0;
					font-size: 28px;
					line-height: 34px;
					letter-spacing: 1px;
					color: #ffffff;
				}

				.el-product-detail {
					font-family: MicrosoftYaHei;
					font-size: 18px;
					line-height: 34px;
					letter-spacing: 0px;
					color: #ffffff;
					text-align: left;
					padding-top: 24px;
				}
			}
			.el-product-list5 {
				background-color: #5d6e8a;
			}
			.el-product-list5:hover {
				background-color: #4d6996;
			}

			.el-product-list2,
			.el-product-list3,
			.el-product-list5,
			.el-product-list6 {
				margin-left: 6px;
			}

			.el-product-list4,
			.el-product-list5,
			.el-product-list6 {
				margin-top: 6px;
			}
			
			img {
				transition: all 1.5s;
			}
			img:hover {
				transform: scale(1.1);
			}
		}
	}

	.mt-module-advantage {
		width: 100%;
		height: 510px;
		background-color: #3c5479;

		.mt-module-title {
			strong {
				background-color: #3c5479;
				color: white;
			}
		}
	
		.el-advantage-content {
			text-align: center;
			padding-top: 80px;

			p {
				font-family: MicrosoftYaHei;
				font-size: 22px;
				line-height: 34px;
				color: #ffffff;
				padding-top: 30px;
			}
		}
	}

	.mt-module-callme {
		height: 640px;

		.el-callme-content {
			padding-top: 65px;

			.layui-col-xs6 {

				.layui-form {
					height: 400px;
					padding-right: 30px;
					border-right: 1px solid #ccc;

					.layui-form-label {
						width: 130px;
					}
					.layui-input-block {
						margin-left: 160px;
					}
				}

				.el-callme-maptitle {
					font-family: AdobeHeitiStd-Regular;
					font-size: 14px;
					font-weight: 600;
					line-height: 34px;
					color: #333333;
				}
				iframe {
					padding-top: 20px;
				}
			}

			.mt-btn-submit {
				background-color: #5a7197;
			}
			.layui-btn-primary:hover {
				border-color: #5a7197;
			}
			.layui-textarea {
				height: 190px;
			}
		}
	}
	
}