@charset "utf-8";

@import "../variables";
@import "../function";
@import "../mixins";
@import "../icon";

body {
	@extend .extend-layer-date;
	@extend .extend-layer-dialog;
}
.module-device-list-org {
	@extend .extend-article;

	.table-container {
		height: 80%;
		margin: $module-container-padding;
		background-color: #f8fafb;
		border-radius: 5px;

		.table-search {
			background-color: #ffffff;
			height: 78px;
			margin-bottom: 8px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			position: relative;
			padding: 21px 25px;

			.element-title {
				font-size: 16px !important;
				line-height: 18px;
				color: #212023 !important;
				padding-left: 0;
			}

			.layui-form-label {
				width: auto;
				font-size: 14px;
				line-height: 18px;
				letter-spacing: 0px;
				color: #6e7b7d;
			}

			.module-input-border {
				background-color: #f4f5f6;
				border-radius: 17px;
				display: flex;
				width: 276px;
				margin-left: 18px;

				input {
					background-color: #f4f5f6;
					border: none;
					border-radius: 17px;
				}
				button {
					background-color: #3ddfd5;
					border-radius: 0;
					border-top-right-radius: 17px;
					border-bottom-right-radius: 17px;
				}
			}

			.element-add-device {
				@extend .extend-empty-btn;
				margin-left: 28px;
			}
		}

		.table-content {
			background-color: #ffffff;
			height: 100%;
			padding: 18px 26px;
			
			.element-count-data {
				font-size: 12px;
				line-height: 18px;
				color: #6e7b7d;
			}
			.layui-table-page {
				text-align: center;
				margin-top: 24px;
				border: none;
			}
			.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even) {
				background-color: #f8fafb;
			}
			.layui-table-sort[lay-sort=desc] .layui-table-sort-desc{
				border-top-color: $base-color;
			}
			.layui-table-sort[lay-sort=asc] .layui-table-sort-asc {
				border-top-color: $base-color;
				border-bottom-color: $base-color;
			}

		}
	}
}



.module-device-add-dialog,
.module-device-edit-dialog {
	.layui-form {
		padding: 10px 80px;

		.layui-form-label {
			width: 100px;
		}
		.layui-input-block {
			margin-left: 120px;
		}
		.layui-layer-btn0 {
			width: 120px;
			height: 40px;
			box-shadow: 0px 5px 6px 0px 
				rgba(179, 221, 218, 0.35);
			border-radius: 5px;
		}
		.element-submit,
		.element-submit-org {
			@extend .extend-full-btn;
			margin-top: 10px;
			height: 40px;
			width: 120px;
		}
	}
}