@charset "utf-8";

@import "../variables";
@import "../function";
@import "../mixins";
@import "../common";
@import "../icon";

.module-meeting-join-detail {
	height: 100%;
	background-color: white;
	
	.element-container {
		height: 100%;
		background-color: white;
		border-radius: 5px;
		overflow: auto;

		.element-header {
			background-color: white;
			height: 78px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			position: relative;
			padding: 28px 25px;

			.element-title {
				font-size: 18px !important;
				line-height: 18px;
				color: #212023 !important;
				padding-left: 0;

				a {
					font-size: 14px !important;
					color: $base-color;
				}
			}
		}

		.element-content {
			background-color: white;
			height: 100%;
			overflow: hidden;
			width: 400px;
			margin-top: 50px;
			position: absolute;
			left: 50%;
		    margin-left: -200px;

			img {
				height: 100px;
				width: 100px;
				border-radius: 50%;
			}
			p {
				font-size: 14px;
				line-height: 38px;
				color: #596466;

				span {
					width: 100%;
					font-size: 16px;
					color: #222124;
				}
			}
			
			.element-close {
				margin-top: 50px;
				width: 200px;
				@extend .extend-empty-btn;
			}

		}
	}
}
