@charset "utf-8";
@import "../variables";
@import "../function";
@import "../mixins";
@import "../icon";

html,
body {
	font-size: 14px;
}
.page-index {
	font-family: MicrosoftYaHei;
    margin: 0;
	padding: 0;
	
	header {
		width: 100%;
		height: pcrem(80px);
		background-color: #0b1a30;
		display: flex;
		align-items: center;
		text-align: center;

		.el-logo {
			display: inline-block;
			width: 13.459%;
		}

		.el-title {
			display: inline-block;
			font-weight: 600;
			font-size: pcrem(36px);
			color: #8493ad;
			width: 66.1452%;
		}

		.el-time {
			display: flex;
			width: 20.3958%;
			font-family: Arial-BoldMT;
			color: #5fbdff;

			.el-time-hms {
				font-size: pcrem(36px);
			}
			.el-time-date {
				font-size: pcrem(16px);
				line-height: pcrem(20px);
				margin: pcrem(4px) 0 0 pcrem(22px);
				text-align: left;
				display: inline;
			}
		}
	}

	article {
		width: 100%;
		display: flex;
		position: relative;
		min-height: pcrem(1000px);
		background-color: #020f21;

		.m-count {
			width: 17.34375%;
			text-align: center;
			.el-title {
				font-size: pcrem(20px);
				line-height: pcrem(18px);
				color: #8493ad;
				display: block;
				text-align: center;
				padding: pcrem(30px) 0 0 0;
			}
			.m-total {
				margin-top: pcrem(24px);
				margin-left: pcrem(40px);
				width: pcrem(280px);
				background-color: #0b1a30;
				border-radius: 6px;
			}
			.m-total-project {
				height: pcrem(359px);

				.el-pie {
					height: pcrem(260px);
				}
			}
			.m-total-user {
				height: pcrem(203px);

				.el-content {
					display: flex;
					padding: pcrem(27px) pcrem(39px);

					.el-left {
						width: 20%;
					}
					
					.el-right {
						width: 80%;

						.el-value {
							font-size: pcrem(48px);
							line-height: pcrem(48px);
							color: #ffffff;
							text-align: left;
    						margin-left: pcrem(20px);
						}
						p {
							font-size: pcrem(16px);
							color: #8493ad;
							margin: 0;
							text-align: left;
							padding-left: pcrem(26px);
    						margin-top: pcrem(4px);
						}
					}
				}
			}
			.m-today-attendance {
				height: pcrem(333px);
				position: relative;
				box-sizing: border-box;

				.el-progress-txt {
					margin-top: pcrem(50px);
					padding: 0 pcrem(39px);
					height: pcrem(28px);
					
					.el-progress-title {
						float: left;
						font-size: pcrem(16px);
						color: #49596b;
					}
					.el-progress-value {
						float: right;
						font-size: pcrem(20px);
						color: #ffffff;
					}
				}

				.el-progress {
					position: relative;
					margin-top: pcrem(22px);
					margin-left: pcrem(39px);
					height: pcrem(22px);
					.el-progress-gray {
						position: absolute;
						width: 197px;
						height: 13px;
						background-color: #162442;
						border-radius: 6px;
					}
					.el-progress-solid {
						position: absolute;
						height: 13px;
						background-color: #53e0f5;
						border-radius: 6px;
					}
					.el-progress-solid2 {
						position: absolute;
						height: 13px;
						background-color: #ffa35f;
						border-radius: 6px;
					}
				}
			}
		}

		.m-chart {
			width: 49.2708%;

			.m-map {
				box-sizing: border-box;
				position: relative;
				padding: pcrem(22px);
				margin-top: pcrem(24px);
				margin-left: pcrem(10px);
				height: pcrem(584px);
				background-color: #0b1a30;
				border-radius: 6px;
			}

			.m-category {
				position: relative;
				padding: pcrem(22px);
				box-sizing: border-box;
				margin-top: pcrem(24px);
				margin-left: pcrem(10px);
				width: pcrem(925px);
				height: pcrem(332px);
				background-color: #0b1a30;
				border-radius: 6px;

				.el-title {
					display: flex;

					.el-left {
						width: 40%;
						text-align: left;
						font-size: pcrem(20px);
						line-height: pcrem(18px);
						color: #8493ad;
					}

					.el-right {
						width: 60%;
						text-align: right;
						font-size: pcrem(18px);
						line-height: pcrem(18px);
						color: #8493ad;
						
						span {
							display: inline-block;
							margin: 0 pcrem(10px);
						}

						i {
							font-size: pcrem(18px);
							font-style: normal;
							cursor: pointer;
							padding: 0 pcrem(4px);
						}
						.el-month-subtract {
							&::before {
								content: '<'
							}
						}
						.el-month-add {
							&::before {
								content: '>'
							}
						}
					}
				}
				.el-content {
					height: pcrem(290px);
				}
			}
		}

		.m-project-list {
			width: 31.3862%;
			max-height: pcrem(980px);
			overflow: auto;
			margin: 0 pcrem(42px) 0 pcrem(20px);

			&::-webkit-scrollbar {
				display: none;
			}

			.el-title {
				font-size: pcrem(24px);
				line-height: pcrem(90px);
				color: #49596b;

				span {
					&:nth-child(2) {
						float: right;
					}

					strong {
						color: #8493ad;
					}
				}
			}

			.el-project-list {
				width: 100%;
				height: pcrem(374px);
				background-color: #12233c;
				border-radius: 5px;
				margin-bottom: pcrem(20px);
				cursor: pointer;

				.el-content {
					height: pcrem(265px);
					padding: pcrem(32px) pcrem(36px) 0 pcrem(36px);
					background-color: #0b1a30;

					.el-content-name {
						font-size: pcrem(18px);
						line-height: pcrem(18px);
						color: #8493ad;

						span {
							&:nth-child(2) {
								float: right;
							}
						}
					}

					.el-content-info {
						display: flex;
						margin-top: pcrem(30px);

						.el-info-pic {
							width: 166px;
							height: 166px;
							background: url('../../img/page/project-default.png') no-repeat;
						}

						.el-info-list {
							height: 166px;

							.el-list-detail {
								padding-left: pcrem(40px);
								font-size: pcrem(18px);
								line-height: pcrem(18px);
								color: #49596b;
								margin-bottom: pcrem(30px);

								i {
									width: 9px;
									height: 9px;
									border-radius: 50%;
									background-color: #5f94ff;
								}

								span {
									display: inline-block;
									width: pcrem(140px);
									margin-left: pcrem(16px);
								}

								em {
									font-style: normal;
									font-size: pcrem(24px);
									line-height: pcrem(18px);
									color: #5fbdff;
								}
							}
						}
					}
				}

				.el-bottom {
					display: flex;
					align-items: center;

					.el-right,
					.el-left {
						line-height: pcrem(78px);
						text-align: center;
						width: 50%;
						font-size: pcrem(20px);
						color: #49596b;
						i {
							margin-right: pcrem(10px);
						}
						em {
							font-size: pcrem(20px);
							font-weight: normal;
							font-stretch: normal;
							font-style: normal;
							color: #ffffff;
						}
					}
				}

				.m-no-data {
					font-size: pcrem(20px);
					color: #8493ad;
					padding: pcrem(167px) pcrem(248px);
				}
			}
		}
	}
}