@charset "utf-8";
@import "./variables";
@import "./function";
@import "./mixins";

html,
body {
    padding: 0;
    margin: 0;
}

/** 背景颜色 */
.yjy-bgcolor-default {
    background-color: $base-color;
}
/** 前景颜色 */
.yjy-color-default {
    color: $base-color;
}
/** 前景颜色 end */

.tos-body-header {
	.tos-header {
		height: $header-height-pc;
		line-height: $header-height-pc;

		/* 手机 */
		@media #{$media} and ($media-max-width: $max-width-768) {
			height: torem(88px);
			display: flex;
			align-items: center;
			background-color: #142844;
		}
		/** iphone5 **/
		@media #{$media} and ($media-min-width: $min-width-320) {
			
		}

		/** iphone6 **/
		@media #{$media} and ($media-min-width: $min-width-375) {
			
		}

		/** iphone6plus **/
		@media #{$media} and ($media-min-width: $min-width-414) {
			
		}
	}

	.tos-logo {
		.tos-logo-mobile {
			transform: scale(.6);
			float: left;
			margin-left: -16%;
		}
	}

	.tos-menu-mobile {
		line-height: torem(88px);
		img {
			transform: scale(.6);
			display: flex;
    		justify-content: flex-end;
		}
	}

	.tos-menu-content {
		.tos-menu-mask {
			width: 100%;
			height: 100%;
			margin-top: torem(88px);
			position: fixed;
			top: 0;
			left: 0;
			z-index: 998;
			background-color: rgba(0,0,0,.7);
		}

		.tos-menu-list {
			z-index: 999;
			position: absolute;
			width: 100%;
			top: 0;
			right: 0;
			font-size: torem(28px);
			margin-top: torem(88px);
			background-color: white;
			text-align: center;
			background-color: #eaeaea;
			color: #333333;

			dd {
				height: torem(88px);
				line-height: torem(88px);
				border-bottom: 1px solid white;
				/**&:nth-of-type(even) {
					border-bottom: 1px solid white;
				}**/
			}
		}
	}

	.layui-nav {
		background-color: white;
		background-color: transparent;

		.layui-nav-item {
			a {
				font-size: $base-font-size-pc;
				color: #333333;
			}
			
			&.layui-this {
				a {
					color: #cca482;
				}

				&:after {
					height: 2px;
					background-color: #cca482;
				}
				
			}
		}
		
	}
}