@charset "utf-8";

@import "../variables";
@import "../function";
@import "../mixins";
@import "../icon";

body {
	@extend .extend-layer-dialog;
}
.tpl-add-user {
	.layui-form-label {
		width: 120px;
	}
	.layui-input-block {
		margin-left: 150px;
	}
}

.module-user-add-dialog {
	.layui-form {
		padding: 20px 20px 0 20px;
		.element-submit {
			@extend .extend-full-btn;
			margin-top: 10px;
			height: 40px;
			width: 120px;
		}
	}
}