@charset "utf-8";
* {
	box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* input placeholder 文字样式 */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
    font-size: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    font-size: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
    font-size: 14px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc;
    font-size: 14px;
}
/* input placeholder 文字样式 */

/* 常用属性开始 */
.mt-full-img {
	max-width: 100%;
	height: auto;
}
.mt-float-left {
	float: left;
}
.mt-float-right {
	float: right;
}
.mt-align-left {
	text-align: left;
}
.mt-align-right {
	text-align: right;
}
.mt-pl-10 {
	padding-left: 10px;
}
.mt-pl-20 {
	padding-left: 20px;
}
.mt-pl-30 {
	padding-left: 30px;
}
.mt-pl-40 {
	padding-left: 40px;
}
.mt-pl-50 {
	padding-left: 50px;
}
.mt-pl-60 {
	padding-left: 60px;
}
.mt-pr-10 {
	padding-right: 10px;
}
.mt-pr-20 {
	padding-right: 20px;
}
.mt-pr-30 {
	padding-right: 30px;
}

/* 常用属性结束 */

.mt-container {
	width: 1200px;
	margin: 0 auto;
}
.mt-fluid {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

/* 按钮 */
.mt-btn {
	color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
}
.mt-btn.active {
	background-color: #d8b38f;
	color: white;
}
.mt-btn.active:hover {
	background-color: #E9AF79;
}
.mt-btn.active a {
	color: white;
}
.mt-btn.disable {
	background-color: #CCC;
	color: #999;
}
.mt-btn.disable a {
	color: #999;
}
.mt-btn-l {
    width: 160px;
	height: 42px;
    line-height: 42px;
    text-align: center;
	font-size: 16px;
	color: #ffffff;
}
.mt-btn-m {
    width: 130px;
	height: 42px;
    line-height: 42px;
    text-align: center;
	font-size: 16px;
	color: #ffffff;
}

.mt-btn-s {
    width: 90px;
	height: 40px;
    line-height: 40px;
    text-align: center;
	font-size: 14px;
	color: #ffffff;
}