/** media start **/
$media: screen;
$media-max-width: max-width;
$max-width-320: 320px;
$max-width-375: 375px;
$max-width-414: 414px;
$max-width-768: 768px;

$media-min-width: min-width;
$min-width-320: 320px;
$min-width-375: 375px;
$min-width-414: 414px;
/** media end ---------------------------------------   **/

/** pc base **/
$base-font-size-pc: 18px !default;
/** pc base end ---------------------------------------   **/


/** mobile base **/
$base-font-size-mobile: 16px !default;
$rem-base: 16px;
/** mobile base end ---------------------------------------   **/

/** header start **/
$header-height-pc: 117px;
$header-height-mobile: 117px;

/** header end ---------------------------------------   **/