.component-form-input {
    padding: .28rem .428rem;
    border-bottom: 1px solid #ececec;
    margin-bottom: .2rem;
    .li-input {
        width: 100%;
        border: 0;
        outline: 0;
        -webkit-appearance: none;
        background-color: transparent;
        font-size: inherit;
        color: inherit;
        height: 2.41176471em;
        line-height: 2.41176471;
        margin: 0;
    }
}