.accordion {
	margin-top: 20%;
	list-style: none
}

.accordion h1 {
	color: #FFF;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	margin-top: 80px
}

.accordion h1 a {
	color: #c12c42;
	font-size: 16px
}

.accordion {
	width: 100%;
	background: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.accordion .link {
	background-color: #b3b6bd;
	color: #e6e6e6;
	cursor: pointer;
	display: block;
	padding: 8px 25px;
	font-size: 14px;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease
}

.accordion li:last-child .link {
	border-bottom: 1px solid #e2e2e2
}

.accordion li i {
	position: absolute;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
	font-style: normal;
	color: #CCC
}

.accordion li.open .link {
	color: #fff
}

.accordion li.open i {
	color: #b63b4d
}

.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg)
}

.submenu {
	display: none;
	font-size: 14px
}

.submenu li {
	border-bottom: 1px solid #ececf5;
	display: flex;
	padding: 6px 40px
}

/*.submenu li:hover {
	background-color: #FDFDFD;
}*/

.submenu p {
	width: 80%;
	text-decoration: none;
	padding: 8px;
	padding-left: 42px;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}

.submenu em {
	width: 20%;
	padding: 8px
}

.sub-select {
	background-color: #D3E1FB;
}