@charset "utf-8";

@import "variables";
@import "function";
@import "mixins";
@import 'li-1.2.0.scss';

html,
body {
	height: 100%;
	overflow: hidden;
	background-color: $base-bg-color;
}
nav {
	background-color: black;
	color: white;
	height: $nav-height;
	line-height: $nav-height;
	padding: 0 24px;
	.left {
		display: inline-block;
		
		.title {
			color: #ffffff;
			padding-left: 14px;
		}
	}
	.right {
		float: right;

		.welcome-msg {
			padding-right: 26px;
			color: #9b9b9d;
		}
		.logout {
			color: $base-color;
		}
	}
}

article {
	height: 100%;

	.nav-left {
		float: left;
		background-color: white;
		text-align: center;
		width: $nav-left-width;
		height: 100%;

		
		li {
			height: 140px;
			padding-top: 36px;
			cursor: pointer;
			
			p {
				line-height: $base-font-size-pc + 20px;
				color: #5fbdff;
			}
		}

		.active {
			background-color: #f4f5f6;
		}
	}


	.module-container {
		height: 100%;
		margin-left: $nav-left-width;
	}
}