@charset "UTF-8";
/** media start **/
/** media end ---------------------------------------   **/
/** pc base **/
/** pc base end ---------------------------------------   **/
/** mobile base **/
/** media start **/
/** media end ---------------------------------------   **/
/** pc base **/
/** pc base end ---------------------------------------   **/
/** mobile base **/
/** media start **/
/** media end ---------------------------------------   **/
/** pc base **/
/** pc base end ---------------------------------------   **/
/** mobile base **/
/** media start **/
/** media end ---------------------------------------   **/
/** pc base **/
/** pc base end ---------------------------------------   **/
/** mobile base **/
html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px; }

/** 背景颜色 */
.yjy-bgcolor-default {
  background-color: #2BD6BD; }

/** 前景颜色 */
.yjy-color-default {
  color: #2BD6BD; }

/** 前景颜色 end */
/** 通用属性 **/
.tos-full-img {
  width: 100%;
  height: 100%; }

.tos-container {
  width: 1200px;
  margin: 0 auto; }
  @media screen and (min-width: 1200px) and (max-width: 1440px) {
    .tos-container {
      width: 69.28571rem !important; } }

.module-first-prtSc {
  height: 100vh;
  background: #010b1f;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010b1f", endColorstr="#020c21", GradientType=1);
  /*IE8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010b1f", endColorstr="#020c21", GradientType=1);
  background: -moz-linear-gradient(top, #010b1f, #020c21);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#010b1f), to(#020c21)); }
  .module-first-prtSc .module-slogan {
    padding-top: 26vh;
    z-index: 999; }
    .module-first-prtSc .module-slogan .element-title {
      font-size: 3.85714rem;
      line-height: 11.42857rem;
      letter-spacing: 2px;
      color: #ffffff;
      font-weight: 600; }
      @media screen and (min-width: 1200px) and (max-width: 1440px) {
        .module-first-prtSc .module-slogan .element-title {
          font-size: 2.85714rem;
          line-height: 7.14286rem; } }
    .module-first-prtSc .module-slogan .element-sub-title {
      font-family: MicrosoftYaHei-Bold;
      font-size: 1.42857rem;
      letter-spacing: 1px;
      color: #ffffff;
      font-weight: 600; }
      @media screen and (min-width: 1200px) and (max-width: 1440px) {
        .module-first-prtSc .module-slogan .element-sub-title {
          font-size: 1.14286rem; } }

.module-color-change {
  background: #020c21;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020c21", endColorstr="#f2f2f2", GradientType=1);
  /*IE8*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020c21", endColorstr="#f2f2f2", GradientType=1);
  background: -moz-linear-gradient(top, #020c21, #f2f2f2);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#020c21), to(#f2f2f2)); }

.tos-body-header {
  background-color: #000000; }
  .tos-body-header .tos-header {
    height: 96px;
    line-height: 96px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #ffffff; }
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
      .tos-body-header .tos-header {
        height: 6rem;
        line-height: 6rem; } }
    .tos-body-header .tos-header .layui-layout-right {
      top: 1.14286rem;
      line-height: 2.14286rem;
      margin-top: 1.71429rem; }
    .tos-body-header .tos-header .module-change-language {
      position: absolute;
      right: 0;
      top: 0; }
      .tos-body-header .tos-header .module-change-language .layui-form-label {
        font-family: MicrosoftYaHei;
        font-size: 0.85714rem;
        color: #49494d;
        width: 8.57143rem; }
        .tos-body-header .tos-header .module-change-language .layui-form-label .layui-nav .layui-nav-item {
          line-height: 30px; }
      .tos-body-header .tos-header .module-change-language .layui-form-item .layui-input-inline {
        width: auto; }
      .tos-body-header .tos-header .module-change-language .layui-form-select dl {
        background-color: #000000; }
      .tos-body-header .tos-header .module-change-language .layui-input-inline .layui-input, .tos-body-header .tos-header .module-change-language .layui-input-inline .layui-select, .tos-body-header .tos-header .module-change-language .layui-input-inline .layui-textarea {
        border: 0;
        background-color: #000000;
        color: #fff;
        padding: 0 !important;
        margin: 0 !important; }
      .tos-body-header .tos-header .module-change-language .layui-input-inline .layui-select-title {
        width: 6.42857rem; }
      .tos-body-header .tos-header .module-change-language .layui-input-inline .layui-form-select dl dd.layui-this {
        background-color: #5a7292 !important; }
      .tos-body-header .tos-header .module-change-language .layui-input-inline .layui-form-select dl dd:hover {
        background-color: #5a7292 !important; }
  .tos-body-header .tos-logo .tos-logo-mobile {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    float: left;
    margin-left: -16%; }
  .tos-body-header .tos-logo a {
    display: inline-block;
    margin-left: 2.85714rem; }
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
      .tos-body-header .tos-logo a {
        height: 6rem;
        line-height: 6rem;
        width: 4.92857rem; } }
    .tos-body-header .tos-logo a img {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px; }
  .tos-body-header .layui-nav {
    background-color: white;
    background-color: transparent; }
    .tos-body-header .layui-nav .layui-nav-item a {
      font-size: 14px;
      color: #fff;
      line-height: 2.14286rem;
      margin-bottom: 1.78571rem; }
      @media screen and (min-width: 1200px) and (max-width: 1440px) {
        .tos-body-header .layui-nav .layui-nav-item a {
          margin-bottom: 1.07143rem; } }
    .tos-body-header .layui-nav .layui-nav-item.layui-this a {
      color: #cca482; }
    .tos-body-header .layui-nav .layui-nav-item.layui-this:after {
      height: 2px;
      background-color: #cca482; }

.module-common-title {
  text-align: center;
  padding: 8.57143rem 0 3.21429rem 0; }
  .module-common-title span {
    margin: 0 auto;
    display: inline-block;
    max-width: 66.14286rem;
    font-size: 2.57143rem;
    line-height: 2.57143rem;
    color: #0c3c6c;
    padding-bottom: 0.71429rem;
    border-bottom: 2px solid #0c3c6c; }
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
      .module-common-title span {
        font-size: 2.28571rem; } }

.elment-special-title {
  padding: 2.85714rem 0 3.21429rem 0; }
  .elment-special-title span {
    color: #c5d4e2;
    border-bottom: 2px solid #c5d4e2; }

.tos-body-article {
  position: relative;
  background-color: #f2f2f2;
  height: auto; }
  .tos-body-article .module-first-img {
    position: absolute;
    top: 45vh;
    right: 15vw;
    -webkit-transform: scale(1.34);
    transform: scale(1.34); }
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
      .tos-body-article .module-first-img {
        -webkit-transform: scale(1);
        transform: scale(1);
        top: 30vh;
        right: 8vw; } }
  .tos-body-article .tos-chain, .tos-body-article .tos-advantage {
    text-align: center;
    height: 14.85714rem; }
    .tos-body-article .tos-chain .element-icon, .tos-body-article .tos-advantage .element-icon {
      width: 68px;
      height: 68px;
      margin: 0 auto;
      margin-bottom: 2rem; }
    .tos-body-article .tos-chain .element-title, .tos-body-article .tos-advantage .element-title {
      font-size: 1.28571rem;
      color: #1a1a1a;
      margin-bottom: 1.71429rem; }
      @media screen and (min-width: 1200px) and (max-width: 1440px) {
        .tos-body-article .tos-chain .element-title, .tos-body-article .tos-advantage .element-title {
          font-size: 1.14286rem; } }
    .tos-body-article .tos-chain .element-description, .tos-body-article .tos-advantage .element-description {
      font-size: 1rem;
      line-height: 1.71429rem;
      color: #49494d; }
    .tos-body-article .tos-chain .layui-col-xs4, .tos-body-article .tos-advantage .layui-col-xs4 {
      padding: 0 0.71429rem; }
  .tos-body-article .tos-technology .element-bg {
    margin: 0 auto;
    width: 960px;
    height: 320px; }
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
      .tos-body-article .tos-technology .element-bg {
        width: 776px; } }
  .tos-body-article .tos-technology .element-description {
    margin-top: 1.42857rem;
    line-height: 1.71429rem;
    font-size: 14px;
    color: #49494d; }
  .tos-body-article .tos-ownership .layui-row {
    margin-bottom: 1.42857rem; }
  .tos-body-article .tos-ownership .element-img {
    width: 100px;
    height: 100px; }
  .tos-body-article .tos-ownership .element-title {
    font-size: 1.28571rem;
    color: #1a1a1a;
    margin-top: 0.14286rem;
    margin-bottom: 0.71429rem;
    padding-left: 1.42857rem; }
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
      .tos-body-article .tos-ownership .element-title {
        padding-left: 2.85714rem;
        padding-top: 0.71429rem; } }
  .tos-body-article .tos-ownership .element-description {
    color: #49494d;
    line-height: 1.28571rem;
    padding-left: 1.42857rem; }
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
      .tos-body-article .tos-ownership .element-description {
        padding-left: 2.85714rem; } }
  .tos-body-article .tos-advantage {
    height: 25.21429rem !important; }
  .tos-body-article .tos-team {
    margin-bottom: 1.07143rem; }
    .tos-body-article .tos-team .layui-row {
      height: 34.28571rem; }
      .tos-body-article .tos-team .layui-row .layui-col-xs3 {
        padding: 0.57143rem;
        height: 34.28571rem; }
        .tos-body-article .tos-team .layui-row .layui-col-xs3 .element-content {
          height: 30rem;
          background-color: #425c81;
          text-align: center;
          padding: 1.42857rem; }
          .tos-body-article .tos-team .layui-row .layui-col-xs3 .element-content.sp-2n {
            background-color: #637da0; }
          .tos-body-article .tos-team .layui-row .layui-col-xs3 .element-content .element-header {
            margin: 0 auto;
            width: 188px;
            height: 188px; }
            .tos-body-article .tos-team .layui-row .layui-col-xs3 .element-content .element-header img {
              border-radius: 50%; }
          .tos-body-article .tos-team .layui-row .layui-col-xs3 .element-content .element-title {
            font-size: 1.28571rem;
            line-height: 1.57143rem;
            color: #fff;
            margin-top: 1.42857rem; }
          .tos-body-article .tos-team .layui-row .layui-col-xs3 .element-content .element-description {
            font-size: 14px;
            line-height: 1.42857rem;
            margin-top: 2.85714rem;
            color: #ababb3;
            font-weight: 600; }
            @media screen and (min-width: 1200px) and (max-width: 1440px) {
              .tos-body-article .tos-team .layui-row .layui-col-xs3 .element-content .element-description {
                line-height: 1.21429rem; } }
            @media screen and (min-width: 1200px) and (max-width: 1440px) {
              .tos-body-article .tos-team .layui-row .layui-col-xs3 .element-content .element-description {
                margin-top: 1.42857rem !important; } }
            .tos-body-article .tos-team .layui-row .layui-col-xs3 .element-content .element-description.element-special {
              margin-top: 1.42857rem !important; }
              @media screen and (min-width: 1200px) and (max-width: 1440px) {
                .tos-body-article .tos-team .layui-row .layui-col-xs3 .element-content .element-description.element-special {
                  margin-top: 0.71429rem !important; } }
  .tos-body-article .tos-white-paper {
    padding: 1.07143rem 0 3.92857rem 0; }
    .tos-body-article .tos-white-paper .element-left .element-content {
      float: right;
      margin-right: 0.85714rem; }
    .tos-body-article .tos-white-paper .element-right .element-content {
      margin-left: 0.85714rem; }
    .tos-body-article .tos-white-paper .element-content {
      width: 300px;
      height: 88px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#0c2136), to(#0c2136)), -webkit-gradient(linear, left top, left bottom, from(#0c2136), to(#0c2136));
      background-image: linear-gradient(#0c2136, #0c2136), linear-gradient(#0c2136, #0c2136);
      background-blend-mode: normal,  normal;
      text-align: center; }
      .tos-body-article .tos-white-paper .element-content .element-title {
        padding-top: 1.42857rem;
        font-size: 1.71429rem;
        color: #ffffff;
        text-align: right;
        padding-right: 1.42857rem; }
      .tos-body-article .tos-white-paper .element-content .element-description {
        font-size: 1.14286rem;
        color: #ffffff;
        text-align: right;
        padding-right: 1.42857rem; }
      .tos-body-article .tos-white-paper .element-content .element-img {
        cursor: pointer;
        padding-top: 1.42857rem;
        padding-right: 1.42857rem; }

.tos-body-footer {
  background-color: #000000;
  height: 106px; }
  .tos-body-footer .contact-us {
    padding-top: 1.42857rem; }
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
      .tos-body-footer .contact-us {
        padding-top: 0; } }
  @media screen and (min-width: 1200px) and (max-width: 1440px) {
    .tos-body-footer {
      height: 4.28571rem; } }
  .tos-body-footer .tos-footer {
    margin: 0 auto;
    text-align: center; }
    .tos-body-footer .tos-footer .layui-nav {
      background-color: #000000; }
      .tos-body-footer .tos-footer .layui-nav .layui-nav-item {
        line-height: 2.5rem; }
      .tos-body-footer .tos-footer .layui-nav a {
        color: #7a7a80;
        font-size: 1.28571rem; }
        @media screen and (min-width: 1200px) and (max-width: 1440px) {
          .tos-body-footer .tos-footer .layui-nav a {
            font-size: 1rem; } }
        .tos-body-footer .tos-footer .layui-nav a:hover {
          color: #fff; }
    .tos-body-footer .tos-footer .layui-nav-bar {
      display: none; }
    .tos-body-footer .tos-footer .all-right {
      height: 1.07143rem;
      font-size: 14px;
      color: #49494d; }
      @media screen and (min-width: 1200px) and (max-width: 1440px) {
        .tos-body-footer .tos-footer .all-right {
          font-size: 0.85714rem; } }

/** 改造layui样式 **/
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
  background-color: #fff;
  height: 2px; }
