.mt-body-cunguan {

	.mt-module-title-pro {
        width: 100%;
        padding-top: 100px;
        margin-bottom: 68px;
        text-align: center;
        border-bottom: 1px solid #CCC;
        .element-content {

            .title {
                font-family: MicrosoftYaHei;
                font-size: 32px;
                line-height: 0px;
                letter-spacing: 0px;
                color: #333333;
                margin-bottom: 2.5%;
                display: inline;
                padding: 20px;
                background-color: white;
                background-color: transparent;
            }

            .solid {
                width: 76px;
                height: 22px;
                background-color: white;
                background-color: transparent;
                position: absolute;
                margin-left: 48%;
                border-bottom: 3px solid #CCA483;
            }
        }
    }

    .mt-module-why {
        width: 100%;
        height: 375px;
        background-color: #f6f6f6;

        .mt-module-title-pro {
            .element-content{
                .title {
                    background-color: #f6f6f6;
                }
            }
        }
        .el-why-content {
            font-family: SimHei;
            font-size: 16px;
            color: #333333;
            padding-top: 15px;
            text-align: center;
            line-height: 30px;
        }

    }

    .mt-module-business {
        height: 800px;
        width: 100%;
        background-color: white;

        .mt-module-title-pro {
            .element-content{
                .title {
                    background-color: white;
                }
            }
        }

        .el-business-content {
            text-align: center;
        }
    }

    .mt-module-advantage {
        height: 600px;
        width: 100%;

        .mt-module-title-pro {
            .element-content{
                .title {
                    background-color: white;
                }
            }
        }

        .el-advantage-content {
            .el-advantage-list:hover {
                box-shadow: 10px 14px 30px 0px rgba(76, 93, 114, 0.2);
            }
            .el-advantage-list {
                float: left;
                margin-top: 30px;
                width: 270px;
                height: 325px;
                background-color: #ffffff;
                box-shadow: 0px 0px 12px 0px 
                    rgba(76, 93, 114, 0.2);
                padding: 38px 50px;
                text-align: center;
                transition: all 1.52s;
                

                .icon {
                    display: block;
                    background-repeat: no-repeat;
                    width: 108px;
                    height: 108px;
                    margin-left: 30px;
                    background-image: url('../../img/css-sprites/advantage-sprites.png');
                }
                .title {
                    font-family: MicrosoftYaHei;
                    font-size: 18px;
                    color: #333333;
                    padding: 30px 0;
                }
                .sub-title {
                    font-family: MicrosoftYaHei;
                    font-size: 14px;
                    line-height: 26px;
                    color: #6e6e6e;
                }
            }

            .advantage-list-four,
            .advantage-list-two,
            .advantage-list-three {
                margin-left: 38px;
            }

            .advantage-list-one {
                .icon {
                    background-position: -70px -63px;
                }
            }
            .advantage-list-two {
                .icon {
                    background-position: -242px -63px;
                }
            }
            .advantage-list-three {
                .icon {
                    background-position: -413px -63px;
                }
            }
            .advantage-list-four {
                .icon {
                    background-position: -584px -63px;
                }
            }
        }
    }

    .mt-module-workflow {
        height: 600px;
        width: 100%;

        .mt-module-title-pro {
            .element-content{
                .title {
                    background-color: white;
                }
            }
        }

        .el-workflow-text {
            p {
                float: left;
                font-family: MicrosoftYaHei;
                font-size: 18px;
                color: #333333;
                padding-top: 26px;
                text-align: center;
            }
            .one {
                width: 158px;
            }
            .two {
                width: 375px;
            }
            .three {
                width: 138px;
            }
            .four {
                width: 364px;
            }
            .five {
                width: 165px;
            }
        }
    }
}