@charset "utf-8";

@import "../variables";
@import "../function";
@import "../mixins";

html,
body {
	height: 100%;
	overflow: hidden;
}
nav {
	background-color: black;
	color: white;
	height: $nav-height;
	line-height: $nav-height;
	padding: 0 24px;
	.left {
		display: inline-block;
		
		.title {
			color: #ffffff;
			padding-left: 14px;
		}
	}
	.right {
		float: right;

		.welcome-msg {
			padding-right: 26px;
			color: #9b9b9d;
		}
		.logout {
			color: $base-color;
		}
	}
}

article {
	height: 100%;
	background-color: $base-bg-color;

	.nav-left {
		float: left;
		position: absolute;
		top: $nav-height;
		left: 0;
		background-color: white;
		text-align: center;
		width: $nav-left-width;
		height: 100%;
		z-index: 9;

		
		li {
			height: 140px;
			padding-top: 36px;
			cursor: pointer;
			
			p {
				line-height: $base-font-size-pc + 20px;
				color: #3ddfd5;
			}
		}

		.active {
			background-color: #f4f5f6;
		}
	}


	.module-container {
		height: 100%;
		width: 100%;
		padding-left: $nav-left-width;
		position: absolute;
	}

	.module-container-fix {
		position: absolute;
		top: 0;
		left: 0;
		background-color: white;
		width: 100%;
		height: 100%;
		transition: all 1s;
	}
	
}