@charset "utf-8";

@import "../variables";
@import "../function";
@import "../mixins";

html,
body {
	height: 100%;
}
.page-login {
	max-width: 100%;
    height: 100%;
    background: url(../../img/base/bg.png) no-repeat;
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;

	.m-login-box {
		height: 600px;
		width: 1094px;
		background: url(../../img/base/login-box.png) no-repeat;
	}
}