@charset "utf-8";

@import "../variables";
@import "../function";
@import "../mixins";

html,
body {
	height: 100%;
	overflow: hidden;

	@extend .extend-login-header;
}

.page-regist {
	max-width: 100%;
    	height: 100%;
	background: url(../../img/base/bg.png) no-repeat;
	background-size: cover;

	.module-contianer {
		text-align: center;
		
		.element-title {
			font-size: 30px;
			line-height: 18px;
			color: #6e7b7d;
			padding-top: 80px;
		}
		.element-tips {
			font-size: 16px;
			color: #596466;
			padding-top: 68px;
		}

		form {
			padding-top: 115px;
			width: 540px;
			position: absolute;
			left: 50%;
			margin-left: -255px;

			.layui-form-label {
				font-size: 16px;
				color: #596466;
				width: 80px;
				padding: 15px;
			}
			.layui-input {
				background-color: #f8fafb;
				height: 50px;
			}
			.layui-form-mid {
				line-height: 2px;
			}
			.layui-word-aux {
				font-size: 12px;
				font-weight: normal;
				letter-spacing: 0px;
				color: #6e7b7d;
			}
			.module-input-tips {
				margin-top: 10px;
			}
			.module-error-tips {
				font-size: 14px;
				color: #f24e65;
			}

			.layui-input-block {
				margin-left: 110px;
			}
			.element-mobile-input {
				width: 332px;
			}
			.element-code-input {
				width: 199px;
			}
			.element-code-button {
				width: 92px;
			}
			.module-get-code {
				background-color: #f8fafb;
				border: solid 1px $base-color;	
				color: $base-color;
				border-radius: 5px;
				padding: 0 8px;
				font-size: 16px;
				height: 50px;
			}

			.element-next {
				background-image: linear-gradient(
					#3ddfd5, 
					#3ddfd5), 
				linear-gradient(
					#3ddfd5, 
					#3ddfd5);
				background-blend-mode: normal, 
					normal;
				box-shadow: 0px 5px 10px 0px 
					rgba(61, 223, 213, 0.35);
				border-radius: 5px;
				margin-top: 22px;
				width: 151px;
				height: 50px;
				line-height: 50px;
				font-size: 18px;
			}
		}
	}
	
}