@charset "utf-8";

@import "../variables";
@import "../function";
@import "../mixins";
@import "../common";

.module-device-list {
	height: 100%;

	.hs-tabs-across {
		height: 60px;
		line-height: 60px - $tabs-item-bottom;
		background-color: #ffffff;
	}

	.table-container {
		height: 100%;
		margin: $module-container-padding;
		background-color: #ffffff;
		border-radius: 4px;
	}
}