.form-bg{
    height: 100vh;
    background: linear-gradient(135deg,#357ade,#5c41fe);
    background-size: cover;
    font-family: "微软雅黑";
}
.bg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../imgs/login/login-bg.png) no-repeat left bottom;
    background-size: 100vw 20vh;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box{
    width: 440px;
    height: 390px;
    margin-right: 50px;
    margin-top: 10px;
}
.img-box img{
    width: 100%;
    height: 100%;
}
.rows{
    width: 533px;
    height: 383px;
    margin: 0;
    background: url(../imgs/login/login-box.png) center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-horizontal{
    height: 380px;
    width: 430px;
    padding-bottom: 40px;
    text-align: center;
}
.form-horizontal .heading{
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding-top: 64px;
    padding-bottom: 38px;
    color: #357ade;
}
.form-horizontal .heading .line{
    font-size: 20px;
    font-weight: 100;
    color: #ddd;
    margin: 0 8px;
}
.form-horizontal .heading .login{
    color: #000;
}
.form-horizontal .login_error_wrap {
    margin-left: 20%;
    width: 60%;
    white-space: nowrap;
    background-color: #fff8f4;
    border: 1px solid #e3abb9;
    line-height: 20px;
    padding: 2px 4px;
    overflow: hidden;
    font-size: 12px;
    color: #e57b89;
    margin-bottom: 10px;
}

.form-horizontal .form-group{
    padding: 0 64px;
    margin: 0 0 16px 0;
    position: relative;
}
.form-horizontal .form-control{
    background: #f8fafb;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px 0 45px;
    height: 40px;
    transition: all 0.3s ease 0s;
    color: #357ade;
    font-size: 14px;
    font-weight: 700;
}
.form-horizontal .form-control::-webkit-input-placeholder{
    font-weight: normal;
    font-size: 14px;
    color: #acbac5;
}
.form-horizontal .form-control::-moz-placeholder{
    font-weight: normal;
    font-size: 14px;
    color: #acbac5;
}
.form-horizontal .form-control:-ms-input-placeholder{
    font-weight: normal;
    font-size: 14px;
    color: #acbac5;
}
.form-horizontal .form-control:focus{
    background: #f0f0f0;
    box-shadow: none;
    outline: 0 none;
}
.form-horizontal .form-group i{
    position: absolute;
    top: 10px;
    left: 84px;
    font-size: 17px;
    color: #c8c8c8;
    transition : all 0.5s ease 0s;
}
.password-icon{
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(../imgs/password_icon.png)
}
.username-icon{
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(../imgs/username_icon.png)
}
.form-horizontal .form-control:focus + i{
    color: #00b4ef;
}
.form-horizontal .fa-question-circle{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 60px;
    font-size: 20px;
    color: #808080;
    transition: all 0.5s ease 0s;
}
.form-horizontal .fa-question-circle:hover{
    color: #000;
}
.form-horizontal .main-checkbox{
    float: left;
    width: 16px;
    height: 16px;
    background-image: url(../imgs/login/check-box.png);
    position: relative;
    margin: 22px 0 0 5px;
    border: 1px solid #f5f5f5;
}
.form-horizontal .main-checkbox label{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-image: url(../imgs/login/check.png);
    opacity: 0;
}

.form-horizontal .main-checkbox input[type=checkbox]{
    visibility: hidden;
}
.form-horizontal .main-checkbox input[type=checkbox]:checked+label{
    opacity: 1;
}
.form-horizontal .text{
    float: left;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    margin-top: 14px;
    text-transform: capitalize;
}
.form-horizontal .btn{
    float: right;
    height: 51px;
    width: 110px;
    font-size: 18px;
    margin-top: 8px;
    color: #fff;
    background: url(../imgs/login/login-btn.png);
    background-size: 110px 51px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
    position: relative;
    left: 6px;
}

.form-horizontal .btn .login-icon{
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imgs/login/login-icon.png) no-repeat center center;
    position: absolute;
    top: 12px;
    left: 70px;
    z-index: 999;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.btn:active, .btn.active{
    box-shadow:none;
    -webkit-box-shadow:none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{outline: none;outline-offset: 0;}
.form-horizontal .btn span{
    position: absolute;
    top: 8px;
    left: 37px;
    transition: all 0.5s ease 0s;
}
.form-horizontal .btn:hover .login-icon{
    opacity: 1;
    transition: all 0.5s ease 0s;
}
.form-horizontal .btn:hover .info{
    left: 24px;
    transition: all 0.5s ease 0s;
}

.opacity0{
    opacity: 0;
}
.opacity1{
    opacity: 1;
}
