@charset "utf-8";

@import "../variables";
@import "../function";
@import "../mixins";

.mt-body-aboutus {
    .mt-module-banner {
        p {
            text-align: left;
            position: absolute;
            bottom: 20%;
            padding-left: 19%;
            width: 100%;
        }
        .mt-btn-m {
            padding: 12px 30px;
        }

      @media #{$media} and ($media-max-width: $max-width-768) {
        line-height: 0;
      }
    }
    .module-aboutus-ad {
      background-size:100% auto;
      height: 430px;
      background-size:cover;
      background-repeat:no-repeat;

      @media #{$media} and ($media-max-width: $max-width-768) {
        height: auto;
      }

      .aboutus-contactus {
        margin-left: 368px;
        margin-top: 303px;
        width: 193px;
        height: 54px;
        border-radius: 5px;
        position:absolute;
        text-align: center;
        line-height: 54px;
        background-color: #d8b38f;
        font-size: 22px;
        color: #ffffff;
      }
    }

    .module-aboutmt {
      width: 100%;
      height: 566px;
      background-color: #f6f6f6;

      @media #{$media} and ($media-max-width: $max-width-768) {
        height: auto;
      }

      .mt-aboutmt {
        height: 566px;

        @media #{$media} and ($media-max-width: $max-width-768) {
          height: auto;
        }

        .aboutmt-img {
          width: 50%;
          height: 100%;
          float: left;

          @media #{$media} and ($media-max-width: $max-width-768) {
            margin-top: 0;
            margin-right: 0;
            margin-left: 12%;
            width: 82%;
            height: auto;
            float: none;
          }

          .aboutmt-img-content {
            margin-top: 124px;
            margin-right: 40px;
            width: 527px;
            height: 356px;
            float: right;

            @media #{$media} and ($media-max-width: $max-width-768) {
              margin-top: 0;
              margin-right: 0;
              width: 100%;
              height: 100%;
              float: none;
            }
          }
        }

        .aboutmt-content {
          width: 50%;
          height: 100%;
          float: right;

          @media #{$media} and ($media-max-width: $max-width-768) {
            float: left;
            height: auto;
            width: 100%;
            font-size: 0;
          }

          .content-text {
            width: 92%;
            margin-left: 45px;
            margin-top: 124px;

            @media #{$media} and ($media-max-width: $max-width-768) {
              width: 100%;
              margin-left: 0;
              margin-top: 0;
            }

            .content-text-head {
              line-height: 62px;

              @media #{$media} and ($media-max-width: $max-width-768) {
                margin-top: torem(40px);
                margin-left: torem(32px);
                width: 90%;
                line-height: 0;
                display: flex;
                align-items: center;
              }

              .text-head-img {
                width: 61px;
                height: 62px;
                float: left;

                @media #{$media} and ($media-max-width: $max-width-768) {
                  width: torem(50px);
                  height: torem(51px);
                }
              }

              a {
                margin-left: 10px;
                font-size: 32px;
                line-height: 36px;
                color: #222222;

                @media #{$media} and ($media-max-width: $max-width-768) {
                  margin-left: torem(10px);
                  font-size: torem(31px);
                  line-height: torem(34px);
                }
              }

              .space-line {
                width: 61px;
                height: 2px;
                background-color: #b0b0b0;
                margin-left: 71px;

                @media #{$media} and ($media-max-width: $max-width-768) {
                  margin-left: 5px;
                  width: torem(60px);
                }
              }
            }

            p {
              margin-top: 24px;
              font-size: 18px;
              line-height: 25px;
              color: #2f2f2f;

              @media #{$media} and ($media-max-width: $max-width-768) {
                margin-top: torem(24px);
                margin-left: 12%;
                width: 82%;
                font-size: torem(24px);
                line-height: torem(36px);
              }
            }


            .my-advantage {
              margin-top: 15px;

              @media #{$media} and ($media-max-width: $max-width-768) {
                margin-left: 12%;
                width: 82%;
                font-size: 0;
                line-height: torem(36px);
              }

              a {
                font-size: 24px;
                color: #cca27a;
                line-height: 40px;

                @media #{$media} and ($media-max-width: $max-width-768) {
                  font-size: torem(28px);
                  line-height: 10px;
                }
              }

              .content-text-advantage {
                @media #{$media} and ($media-max-width: $max-width-768) {
                  margin-top: torem(10px);
                }

                .text-advantage-img {
                  width: 7px;
                  height: 8px;
                }

                a {
                  font-size: 18px;
                  color: #2f2f2f;
                  line-height: 25px;

                  @media #{$media} and ($media-max-width: $max-width-768) {
                    font-size: torem(24px);
                    line-height: 10px;
                  }

                }
              }
            }

          }


        }
      }
    }

    .module-contactway {
      width: 100%;
      height: 625px;

      @media #{$media} and ($media-max-width: $max-width-768) {
        height: auto;
      }

      .mt-contactway {
        height: 625px;

        @media #{$media} and ($media-max-width: $max-width-768) {
          height: auto;
          font-size: 0;
        }

        .contactway-content{
          width: 50%;
          height: 100%;
          float: left;

          @media #{$media} and ($media-max-width: $max-width-768) {
            width: 100%;
            height: auto;
            float: none;
          }

          .content-text {
            margin-top: 116px;
            margin-left: 40px;
            width: 450px;
            height: 356px;

            @media #{$media} and ($media-max-width: $max-width-768) {
              margin-top: 0;
              margin-left: 0;
              width: 100%;
              height: auto;
            }

            .content-text-head {
              line-height: 62px;

              @media #{$media} and ($media-max-width: $max-width-768) {
                margin-top: torem(40px);
                margin-left: torem(32px);
                width: 90%;
                line-height: 0;
                display: flex;
                align-items: center;
              }

              .text-head-img {
                width: 61px;
                height: 62px;
                float: left;

                @media #{$media} and ($media-max-width: $max-width-768) {
                  width: torem(50px);
                  height: torem(51px);
                }
              }

              a {
                margin-left: 10px;
                font-size: 32px;
                line-height: 36px;
                color: #222222;

                @media #{$media} and ($media-max-width: $max-width-768) {
                  margin-left: torem(10px);
                  font-size: torem(31px);
                  line-height: torem(34px);
                }
              }

              .space-line {
                width: 61px;
                height: 2px;
                background-color: #b0b0b0;
                margin-left: 71px;

                @media #{$media} and ($media-max-width: $max-width-768) {
                  margin-left: 5px;
                  width: torem(60px);
                }
              }
            }


            .content-address {
              margin-top: 24px;

              @media #{$media} and ($media-max-width: $max-width-768) {
                margin-top: torem(24px);
              }

              p {
                font-size: 18px;
                line-height: 28px;
                color: #333333;

                @media #{$media} and ($media-max-width: $max-width-768) {
                  margin-left: 12%;
                  width: 82%;
                  font-size: torem(24px);
                  line-height: torem(36px);
                }
              }
            }

          }
        }

        .contactway-map {
          width: 50%;
          height: 100%;
          float: right;

          @media #{$media} and ($media-max-width: $max-width-768) {
          margin-top: torem(40px);
          margin-left: 12%;
          width: 82%;
          height: auto;
          float: none;
        }

          .map {
            margin-top: 116px;
            margin-left: 40px;

            @media #{$media} and ($media-max-width: $max-width-768) {
              margin-top: 0;
              margin-left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }

        .aboutmt-img {
          width: 50%;
          height: 100%;
          float: left;

          @media #{$media} and ($media-max-width: $max-width-768) {
            margin-top: torem(10px);
            margin-right: 0;
            margin-left: 12%;
            width: 82%;
            height: auto;
            float: none;
          }

          .aboutmt-img-content {
            margin-top: 124px;
            margin-right: 40px;
            width: 527px;
            height: 356px;
            float: right;

            @media #{$media} and ($media-max-width: $max-width-768) {
              margin-top: 0;
              margin-right: 0;
              width: 100%;
              height: 100%;
              float: none;
            }
          }
        }

      }
    }

    .space-bottom {
      @media #{$media} and ($media-max-width: $max-width-768) {
        height: torem(68px);
      }
    }

}
