@charset "utf-8";
.mt-body-footer {
	.m-footer-content {
		width: 100%;
		height: 228px;
		background-color: #f6f6f6;
	}

	.m-footer-bottom {
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		background-color: #ececec;
	}
}