@charset "utf-8";
@import "../variables";

.mt-body-header {
	.mt-header {
		height: $header-height-pc;
		line-height: $header-height-pc;

		/* 手机 */
		@media #{$media} and ($media-max-width: $max-width-768) {
			
		}
		/** iphone5 **/
		@media #{$media} and ($media-min-width: $min-width-320) {
			
		}

		/** iphone6 **/
		@media #{$media} and ($media-min-width: $min-width-375) {
			
		}

		/** iphone6plus **/
		@media #{$media} and ($media-min-width: $min-width-414) {
			
		}
	}


	.mt-logo {

	}

	.layui-nav {
		background-color: white;
		background-color: transparent;

		.layui-nav-item {
			a {
				font-size: $base-font-size-pc;
				color: #333333;
			}
			
			&.layui-this {
				a {
					color: #cca482;
				}

				&:after {
					height: 2px;
					background-color: #cca482;
				}
				
			}
		}
		
	}
}

