.contentDiv{background: white;margin: 20px 0;margin-top: 0;}
.contentDiv input{/* padding-left: 20px; */border-bottom: 1px solid #cccccc;/* display: block; */height: 96px;font: 24px/24px 'Microsoft YaHei';-webkit-appearance: none;border: none;/* border-bottom: 1px solid #cccc; */width: 56%;}
.inputDiv{position: relative;border-bottom: 1px solid #ccc;}
.paddingleft{padding-left: 20px}
.getCodeBtn{display:block;position: absolute;height: 50px;width: 150px;/* border: 1px solid #000; */border-radius: 0.5em;font: 20px/50px 'Microsoft YaHei';text-align: center;top: 25px;right: 20px;background: #eba612;color: white;}
.getCodeBtn2{display:block;position: absolute;height: 50px;width: 150px;/* border: 1px solid #000; */border-radius: 0.5em;font: 20px/50px 'Microsoft YaHei';text-align: center;top: 25px;right: 20px;background: #eba612;color: white;}

.passwordDiv i{/* font: 30px/50px ''; *//* position: absolute; *//* display: block; *//* width: 50px; *//* height: 50px; *//* top: 15px; *//* right: 60px; *//* text-align: center; */}
.ensureBtn{width: 80%;height: 74px;background: #e2621c;color:white;font: 26px/74px 'Microsoft YaHei';margin: 0 auto;border-radius: 0.3em;color: white;text-align: center;margin: 20px auto;}
.ensureVerifyBtn{width: 80%;height: 74px;background: #e2621c;color:white;font: 26px/74px 'Microsoft YaHei';margin: 0 auto;border-radius: 0.3em;color: white;text-align: center;margin: 40px auto;}

.tipsP{width:100%;font:20px/50px 'Microsoft YaHei';text-align: center;color: #b5b4b4;}
.inputDiv i{/* font:20px/50px 'Microsoft YaHei'; */}
.convertTips{color: #343535;font: 22px/60px 'Microsoft YaHei';text-align: center;}
.convertTips1{color: #343535;font: 22px/60px 'Microsoft YaHei';text-align: center;position: fixed;bottom: 30px;/* margin: 0 auto; */transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);left: 50%;}

.phoneImg{width: 50px;height: 36px;background: url("../img/phone.png") no-repeat;display: block;float: left;margin-top: 32px;}
.verifyImg{width: 50px;height: 36px;background: url("../img/grid.png") no-repeat;display: block;float: left;margin-top: 32px;}
.pwdImg{width: 50px;height: 36px;background: url("../img/unclock.png") no-repeat;display: block;float: left;margin-top: 32px;}
.eyeImg{width: 50px;height: 26px;background: url("../img/eye_grey.png") no-repeat;display: block;float: left;margin-top: 38px;float: right;margin-right: 70px;}
.colorSpan{color:#e2621c;}
.toasteTipDiv{
    background: rgba(0,0,0,.8);color: white;border-radius: 4px;font: 22px/40px 'Microsoft YaHei';position: absolute;bottom: 30%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);
    padding: 10px 30px;}
.redBagDiv{
    width:350px ;
}
.closeBtn1{background: url("../img/close.png");width: 53px;height: 53px;border-radius: 50%;position: absolute;top: -26px;right: -26px;}

.mainDiv{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);background: white;border-radius: 10px;/* padding: 30px; */width: 503px;height: 566px;}
.redBagDiv{text-align:center;width: 344px;height: 200px;/* margin: 0 auto; */font: 22px/40px 'Microsoft YaHei';color: #e34444;}
.attentionDiv{text-align:center;width: 285px;height: 267px;margin: 0 auto;font: 22px/40px 'Microsoft YaHei';color: #3e3d3d;}
.textDiv p{text-align: center}
.textDiv p:nth-of-type(1){font: 26px/80px 'Microsoft YaHei';color: #e34444;}
.textDiv p:nth-of-type(2){font: 24px/60px 'Microsoft YaHei';color: #2a2929;}
.textDiv p:nth-of-type(3){font: 24px/75px 'Microsoft YaHei';background: #ff8635;width:400px;height: 75px;color: white;text-align: center;border-radius: 8px;margin: 80px auto;}
.ui-tab-nav{height: 80px!important;;margin-bottom:15px!important;; }
.ui-tab-nav li{font:26px/80px 'Microsoft YaHei';height: 80px !important;;line-height: 80px !important;}
.ui-tab-nav li.current{color: #d97602!important;    border-bottom: 2px #d97602 solid !important;}
.getloginCodeBtn{display: block;width: 170px;height: 50px;font:24px/50px 'Microsoft YaHei';text-align:center;color: white;border-radius: 4px;background: #fc8f21;margin: 25px;}
.passwordInput{width: 63%!important;}
.agreeP{font:26px/80px 'Microsoft YaHei';height: 80px !important;}
.registCheckBtn{
    float: left;
    margin: 25px 14px;
    width: 30px;
    height: 30px !important;
}
.spanp{    font: 26px/80px 'Microsoft YaHei';
    height: 80px !important;
    float: left;}
.SelectCityLocationIconImg {
    width: 50px;
    height: 50px;
    background: url("/static/img/SelectCityLocationIcon.png") no-repeat;
    display: block;
    float: left;
    margin-top: 24px;
}
@media screen and ( max-height: 832px) {


}