.importantDiv{margin: 20px 0;}
.singleRow{background: #fffffe;height: 80px;border-bottom: 1px solid #eff0f1;font:24px/79px 'Microsoft YaHei';color: #69696a}
.hostInfoDiv{font-size: 26px;}
.hostInfoDiv span:nth-of-type(2){color: #0d0d0d}
.hostInfoDiv p{
    width: 46%;
    float: left;
    padding-left: 20px;
}
.singleRow p{
    float: left;
    padding-left: 20px;
    height: 80px;
    overflow: hidden;
}
.titleDiv{height:75px;background: white}
.titleDiv span:nth-of-type(1){color: #db3f28;font:26px/75px 'Microsoft YaHei';margin-left:  20px;}
.titleDiv span:nth-of-type(2){color: #525151;font:24px/75px 'Microsoft YaHei';margin-right: 20px;}
.spanDiv{font:24px/60px 'Microsoft YaHei';color: #0c8cdd;height: 60px;background: white;padding: 0 20px;}
.spanDiv span{display: block;width: 20%;/* text-align: center; */padding-left: 20px;}
.oneInsuranceDiv{font:24px/60px 'Microsoft YaHei';color:#1e1e1e;height: 60px;background: white;padding: 0 20px;position: relative;}
.oneInsuranceDiv span{display: block;width: 20%;/* text-align: center; *//* padding-left: 20px; */text-overflow: ellipsis;height: 60px;overflow: hidden;margin-right: -27px;}

.smallTotal{/* margin-right: 20px; */font:24px/80px 'Microsoft YaHei';color: #1e1e1e;/* width: 100%; */text-align: right;height: 80px;background: white;padding-right: 50px;}
.addInfo{    font: 24px/60px 'Microsoft YaHei';padding-left: 20px;
    color: #0c8cdd;
    height: 60px;
    background: white;}
.text{font:24px/60px 'Microsoft YaHei';color: #1e1e1e;padding: 0 20px; background: white;}
.btnDiv{background: white;height: 100px;position: fixed;bottom: 0px;width: 100%;text-align: center;}
.btnDiv span:nth-of-type(1){color:#db3f28;width: 225px;height: 75px;border: 1px solid #db3f28;border-radius: 4px;text-align: center;font:24px/75px 'Microsoft YaHei';margin: 14px 75px 14px 50px;display: block}
.btnDiv span:nth-of-type(2){color:white;background:#e53a21;width: 225px;height: 75px;border: 1px solid #db3f28;border-radius: 4px;text-align: center;font:24px/75px 'Microsoft YaHei';display: block;margin-top: 14px;}
/*.mainContentDiv{margin-bottom: 150px;}*/

.tipsDiv{background: white;border-radius: 24px;padding: 30px;font:24px/50px 'Microsoft YaHei';position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);height: 425px;width: 475px;}
.tipsDiv:before{background: url("../img/qin.png") no-repeat;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);width: 535px;height: 417px;content: '';position: absolute;top: -11px;left: 50%;}
/*.closeBtn{background: url("../img/close.png");width: 53px;height: 53px;border-radius: 50%;position: absolute;top: -26px;right: -26px;}*/
.textP{/* width: 420px; */text-align: center;}
.registerBtn{width: 330px;height: 70px;font: 26px/70px 'Microsoft YaHei';margin: 30px auto;text-align: center;color: white;background: #db4949;border-radius: 10px}
.margin{margin-top: 200px;/* margin-right: 0; */}
.cancleBtn{background: #1e8ddb;margin: 0 30px 0 10px;}
.ensureInsuranceBtn{background: #d2431c}
.btnDiv1{/* background: white; */height: 100px;position: fixed;bottom: 20px;/* width: 100%; */text-align: center;padding: 0 30px;}
.timeDiv{height: 120px;font: 24px/60px 'Microsoft YaHei';padding-left: 20px;
    background: white;}
.ensureInsuranceDiv{height: 60px;font: 24px/60px 'Microsoft YaHei';padding-left: 20px;  color: #0c8cdd;position: relative;
    background: white;}
.applyInsuranceDiv{height: 60px;font: 24px/60px 'Microsoft YaHei';padding-left: 20px;position: relative;
    background: white;}
.moreImg{position: absolute;right: 30px;width: 12px;height: 21px;background:url("../img/more.png");top: 20px;}
.checkImg{position: absolute;right: 20px;width: 41px;height: 40px;background:url("../img/check.png");top: 10px;}
.btnDiv1 p{width: 405px;height: 65px;font: 24px/65px 'Microsoft YaHei';color: white;border-radius: 4px;}
.border_bottom .fr{/* text-align: right; *//* margin-right: 20px; */}
.fade-div{font-size: 24px;text-align: center;color:#0c8cdd}
.nameSpan{width: 49% !important;}
.status{text-align: right!important;;margin-right: 30px!important;}
.spacielSpan{text-align: center!important;}
.questionSpan{background: #d24221;color: white;width: 33px;height: 33px;font:24px/33px 'Microsoft YaHei';display: block;border-radius: 50%;text-align: center;margin: 21px;}
.redbagP{color:#db3f28;font: 26px/70px 'Microsoft YaHei';text-align: right;padding-right: 50px;background: white;}
.acturlly{color:#0c8cdd;font: 26px/70px 'Microsoft YaHei';text-align: right;padding-right: 50px;background: white}
.total{color:#5e5e5e;font: 26px/70px 'Microsoft YaHei';text-align: right;padding-right: 50px;background: white;}
.timeDiv{color:#5e5e5e;font: 26px/70px 'Microsoft YaHei';text-align: right;padding-right: 50px;}
.tipDiv{border-radius:8px;width: 530px;height: 455px;background: white;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%)}
.tipDiv:before{content: '';background: url("../img/redbag2.png") no-repeat;width: 195px;height: 261px;position: absolute;top: -19px;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.tipDiv:after{content: '';background: url("../img/redbottom.png") no-repeat;width: 100%;height: 90px;position: absolute;bottom: 0;}
.closeBtn{background: url("../img/close.png");width: 53px;height: 53px;border-radius: 50%;position: absolute;top: -26px;right: -26px;}
.typeP{color: #e65a47;text-align: center;font: 26px/70px 'Microsoft YaHei';margin: 120px auto 30px;}
.webchatP{
    text-align: center;
    width: 335px;
    font: 24px/50px 'Microsoft YaHei';
    margin: 0 auto;
}
.webchat{
    font: 24px/40px 'Microsoft YaHei';
    margin: 0 auto;
    width: 340px;
    text-align: left;
    /* margin-left: 30px; */
}
.moreImg{background: url("../img/more.png") no-repeat;position: absolute;right: 40px;/* top: 43px; */width: 12px;height: 21px;}
.applyBtn{
    position: absolute;
    right: 30px;
    /* top: 43px; */
    width: 40px;
    height: 40px;
}
.iKonwSpan{width: 50%!important;}
.insuranceKnow{color: #df3535;margin-top: 4px;}
.specialred{color: #df3535}
.spaceDiv{background: white;height: 100px;width: 100%}
.agreeinsurebackground{background: url("../img/applyBtnpng.png")}
.mp-div {
    margin: 5px 0px;
    height: auto;
}
.mp-right {
    float: right;
    margin-right: 24px;
}
.mp-left {
    float: left;
}
.agree-border{
    border: 1px solid #6A6A6B;
}
.agree-div{
    margin-top: 4px;
}