<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.start.mapper.DrivingSchoolInfoMapper">


    <sql id="baseSql">
         t.id,t.dsid,t.img,t.name,t.details,t.address,t.longitude_and_latitude,t.functionary,t.phone,t.video 

    </sql>

	<select id="getDrivingSchoolInfo" resultType="DrivingSchoolInfoVO" parameterType="com.start.vo.DrivingSchoolInfoVO">
		select 
   
		    <include refid="baseSql"/>
		 from  t_driving_school_info t
		 where 1=1 
		    <if test="id !=null and  id !=0">
		       and  t.id = #{id}
		    </if>
		    
		    <if test="name !=null and  name !=''">
		       and  t.name = #{name}
		    </if>
		    
		    <if test="dsid !=null and  dsid !=0">
		       and  t.dsid = #{dsid}
		    </if>
	</select>
</mapper>
