.titleDiv{text-align: center}
.headerHeart{margin: 30px 0 0px 173px;}
.formDiv{text-align: center;margin: 50px auto;WIDTH: 470PX;z-index: 222;}
.formDiv p{font-size: 28px;color: #333538;font-weight: bold;line-height: 70px;margin-top: 20px;}
.objectSelect{
    width: 470px;
    border-radius: 8px;
    height: 88px;
    background:url("../../img/loveletter_selectBtn.png");
    padding-left: 20px;
    -webkit-appearance: none;
    color: white;
}

.objectSelect option{font-size:24px;color: white; }
.nickNameInput{
    padding-left: 20px;
    border-radius: 8px;
    width: 450px;
    height: 88px;
    background-color: #fdcc57;
    color: white;
}
.dakaBtn{margin-top: 80px}
.bgPicDiv{    text-align: center;}
/*.bgPicDiv img:nth-of-type(1){margin-top: -13px;}*/
.bgPicDiv img{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
}