.ui-header {
    top: 0;
    height: 60px !important;
    line-height: 60px!important;
    background: white;
}
.ui-icon, [class^=ui-icon-] {
    font-family: iconfont!important;
    font-size: 32px;
    line-height: 60px !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    display: block;
    color: rgba(0,0,0,.5);
}
.mainListDiv{margin-top: 70px;}
.mainListDiv .singleLi{
    margin: 15px 15px;
    padding: 10px 10px;
    border-radius: 5px;
    background: white;
    font-size: 16px;
    overflow: hidden;
    /*background: url("../../img/loveLetter/balloon.png") no-repeat;*/
    /* width: 178px; */
    /* height: 238px; */
    position: relative;
}
.mainListDiv .singleLi:before{content:'';position: absolute;background: url("../../img/loveletter_balloon.png") no-repeat;width: 178px;height: 100%;top: px;}
.insurenceDesp {
    line-height: 37px;
    padding: 13px 0;
}
.label{color:#48cb44 }
.exchangBtn{line-height: 60px;height: 60px;text-align: center;width: 94%;margin: 15px 10px 5px 10px;color: white;border-radius: 8px;}
.selfBtn{background: #f05858}
.otherBtn{background: #ffc75b;margin-left: 30px;}
.ui-col-40 {
    width: 40%;
}
.ui-col-28 {
    width: 28%;
}
.ui-col-60 {
    width: 60%;
    text-align:center ;
}
.hadgetbtn{color: #919091;    line-height: 80px;text-align: center;}
.seeTicketBtn{    line-height: 80px;color: #f05858;text-align: center;}

.getTicket{background: white;padding: 120px 30px 40px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);border-radius: 8px;}
.getTicket:before{position: absolute;top: 0;content:'';background: url("../../img/loveletter_bgFlower.png") no-repeat;width: 530px;height: 160px;left: 0;}
.titleP{color: #424343;font-size: 28px;font-weight: bold;text-align: center;line-height: 90px;}
.contentP{color: #424343;font-size: 26px;/* text-align: center; */width: 469px;}
.bgSection{width: 100%;height: 100%;background: rgba(0,0,0,.7);z-index: 11111;position: fixed;top: 0;bottom: 0;}
.formDiv{width: 460px;margin-right: 0px !important;}
.bigBtn{width: 100%;height: 70px;text-align: center;color: white;margin-top: 50px;border-radius: 8px;line-height: 70px}
.blueBg{background: #56b6e7}
.greyBg{background: #b9c0c3}
.selfCodeInput{width: 95%;margin-top: 30px;}
.otherCodeInput{width: 95%;margin-top: 30px;}
.input{border-radius: 4px;border: 1px solid #b9c0c3;height: 70px;padding-left: 20px;}
.getCodeBtn{background:#9ad753;height: 70px;border-radius: 4px;text-align: center;color: white;line-height: 70px;margin-left: 20px;font-size: 24px;}
.firstLine{margin-top: 30px;}
.getTicketBtn span{    line-height: 35px;
    /* width: 429px; */
    display: block;
    text-align: center;}
.lookTicket{background: white;/* padding: 20px 30px 40px; */position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);border-radius: 8px;}
.ticketDiv{background: url("../../img/loveletter_bgTicket.png") no-repeat;width: 534px;height: 274px;text-align: center;}
.useTelDiv{padding: 10px 40px 40px;}
.cancelLookBtn{text-align:center;line-height:70px;background: #fda94f;height: 70px;color: white;border-radius: 4px;width: 100%;margin-top: 40px}
.lookLitleP{color: #424343;font-size: 28px;font-weight: bold;text-align: center;line-height: 70px;}
.title{    padding-top: 50px;}
.lookContentP{line-height: 55px;}
.closeBtn{    position: absolute;
    top: -67px;
    right: 0;}
.haveCheck{background: #ccc !important;}