@charset "utf-8";

@import "variables";
@import "function";
@import "mixins";

* {
	box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* input placeholder 文字样式 */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
    font-size: 14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    font-size: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
    font-size: 14px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc;
    font-size: 14px;
}
/* input placeholder 文字样式 */

/* 常用属性开始 */
.hs-full-img {
	max-width: 100%;
	height: auto;
}
.hs-float-left {
	float: left;
}
.hs-float-right {
	float: right;
}
.hs-align-left {
	text-align: left;
}
.hs-align-right {
	text-align: right;
}
.hs-pl-10 {
	padding-left: 10px;
}
.hs-pl-20 {
	padding-left: 20px;
}
.hs-pl-30 {
	padding-left: 30px;
}
.hs-pl-40 {
	padding-left: 40px;
}
.hs-pl-50 {
	padding-left: 50px;
}
.hs-pl-60 {
	padding-left: 60px;
}
.hs-pr-10 {
	padding-right: 10px;
}
.hs-pr-20 {
	padding-right: 20px;
}
.hs-pr-30 {
	padding-right: 30px;
}

/* 常用属性结束 */

.hs-content {
	width: 1200px;
	margin: 0 auto 50px;
}

.hs-mask {
	z-index: 99999;
	background-color: rgb(0, 0, 0);
	background:transparent;
	background-color: rgba(0, 0, 0, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);    /*IE8支持*/
    zoom: 1;
	top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	position: fixed;
	pointer-events: auto;
    .close {
		position: absolute;
		top: 4%;
    	right: 4%;
		background: url('/dist/static/img/icon/x.png') no-repeat 0 0;
		height: 37px;
		width: 37px;
		cursor: pointer;
	}
	.close:hover {
		transform: rotate(270deg);
    	transition: all 0.5s;
    }
}
/** 表单相关**/



/* 按钮 */
.hs-btn {
	color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
}
.hs-btn.active {
	background-color: red;/*ie8*/
    background-image: linear-gradient(268deg, rgba(246, 49, 60, 1) 0%,rgba(248, 54, 56, 1) 35%, rgba(254, 73, 37, 1) 89%), 
	linear-gradient(rgba(220, 57, 75, 1), rgba(220, 57, 75, 1));
	background-blend-mode: normal, normal;
	color: #ffffff;
}
.hs-btn.active a {
	color: #ffffff;
}
.hs-btn.disable {
	background-color: #CCC;
	color: #999;
}
.hs-btn.disable a {
	color: #999;
}
.hs-btn-l {
    width: 160px;
	height: 42px;
    line-height: 42px;
    text-align: center;
	font-size: 16px;
	color: #ffffff;
}
.hs-btn-m {
    width: 130px;
	height: 42px;
    line-height: 42px;
    text-align: center;
	font-size: 16px;
	color: #ffffff;
}

.hs-btn-s {
    width: 90px;
	height: 40px;
    line-height: 40px;
    text-align: center;
	font-size: 14px;
	color: #ffffff;
}

/** tabs **/
.hs-tabs-across {
	li {
		float: left;
		margin: 0 20px;
		cursor: pointer;
	}

	.active {
		border-bottom: $tabs-item-bottom solid $base-color;
	}
}