@charset "utf-8";
@import "./variables";
@import "./function";

//mobile开头是手机专用，common是手机+pc公用的
//手机端不固定高度 
@mixin mobile-height-auto($padding: null) {
    @media #{$media} and ($media-max-width: $max-width-768) {
		height: auto;

		@if ($padding != null) {
			padding: 0 torem($padding)
		}
	}
}

//手机端隐藏
@mixin mobile-hide {
    @media #{$media} and ($media-max-width: $max-width-768) {
		display: none;
	}
}

/** 手机端设置字体
	$mobile 所有手机
	$mobile-xl 6plus
	$mobile-l 6
	$mobile-s 5
**/
@mixin mobile-font-size($mobile, $mobile-xl: null, $mobile-l: null, $mobile-s: null) {
    @media #{$media} and ($media-max-width: $max-width-768) {
		font-size: torem($mobile);
	}
	@if ($mobile-xl != null) {
		@media #{$media} and ($media-max-width: $max-width-414) {
			font-size: torem($mobile-xl);
		}
	}
	@if ($mobile-l != null) {
		@media #{$media} and ($media-max-width: $max-width-375) {
			font-size: torem($mobile-l);
		}
	}
	@if ($mobile-s != null) {
		@media #{$media} and ($media-max-width: $max-width-320) {
			font-size: torem($mobile-s);
		}
	}
}

/** 使用 @include end----------------------------------------- **/

/** 可以使用@extends 公用的代码 **/
//登录注册部分的头部
.extend-login-header {
	header {
		height: 10%;
		padding: 0 5%;
		background-color: white;
		box-shadow: 0px 5px 5px 0px 
		rgba(230, 233, 237, 0.75);

		.module-to-login {
			font-size: 18px;
			line-height: 18px;
			color: #6e7b7d;
			cursor: pointer;

			&:hover {
				color: $base-color;
			}
		}
	}
}

/** @extends end **/
