/** media start **/
$media: screen;
$media-max-width: max-width;
$max-width-320: 320px;
$max-width-375: 375px;
$max-width-414: 414px;
$max-width-768: 768px;
$max-width-992: 992px;

$media-min-width: min-width;
$min-width-320: 320px;
$min-width-375: 375px;
$min-width-414: 414px;
/** media end ---------------------------------------   **/

/** pc base **/
$normal-font-size-pc: 18px !default;
$base-font-size-pc: 14px !default;
$base-bg-color: #edeff1;
$base-color: #3ddfd5;
$nav-height: 60px; //首页导航高度%
$nav-left-width: 140px;//首页左边导航宽度
$tabs-item-bottom: 6px; //选项卡下边距
$module-container-padding: 20px;//首页主体内容边距
/** pc base end ---------------------------------------   **/


/** mobile base **/
$rem-base: 14px; //750设计稿
/** mobile base end ---------------------------------------   **/

/** header start **/
$header-height-pc: 117px;
$header-height-mobile: 117px;

/** header end ---------------------------------------   **/