@charset "utf-8";

@import "../variables";
@import "../function";
@import "../mixins";

.mt-body-fengkong {
    @extend .extend-banner;
    @extend .extend-title;

    .mt-module-why {
        width: 100%;
        height: 375px;
        background-color: #f6f6f6;
        @include mobile-height-auto(48px);

        .mt-module-title-pro {
            .element-content{
                .title {
                    background-color: #f6f6f6;
                }
            }
        }
        .el-why-content {
            font-size: 16px;
            color: #333333;
            padding-top: 15px;
            text-align: center;
            line-height: 30px;

            .left {
                margin-top: -50px;

                @media #{$media} and ($media-max-width: $max-width-768) {
                    margin-top: 0;
                    padding: torem(42px) 0;
                }
            }
            .right {
                text-align: left;
            }
            
            @media #{$media} and ($media-max-width: $max-width-768) {
                font-size: torem(24px);
                line-height: torem(34px);
                display: flex;
                align-items: center;
                padding-top: 0;
            }
        }
    }

    @extend .extend-business;

    .mt-module-advantage {
        height: 600px;
        width: 100%;
        @include mobile-height-auto(42px);

        .mt-module-title-pro {
            .element-content{
                .title {
                    background-color: white;
                }
            }
        }

        .el-advantage-content {
            .el-advantage-list:hover {
                box-shadow: 10px 14px 30px 0px rgba(76, 93, 114, 0.2);
            }
            .el-advantage-list {
                float: left;
                margin-top: 30px;
                width: 270px;
                height: 325px;
                background-color: #ffffff;
                box-shadow: 0px 0px 12px 0px 
                    rgba(76, 93, 114, 0.2);
                padding: 38px 50px;
                text-align: center;
                transition: all 1.52s;
                
                @media #{$media} and ($media-max-width: $max-width-768) {
                    padding: torem(43px) torem(35px);
                    width: 48.6%;
                    height: torem(375px);
                    padding: 0 torem(24px);
                }
                
                .icon {
                    display: block;
                    background-repeat: no-repeat;
                    width: 108px;
                    height: 108px;
                    margin-left: 30px;
                    background-image: url('../../img/css-sprites/advantage-sprites.png');

                    @media #{$media} and ($media-max-width: $max-width-768) {
                        transform: scale(.6);
                        margin-left: torem(30px);
                    }
                }
                .title {
                    font-size: 18px;
                    color: #333333;
                    padding: 30px 0;

                    @media #{$media} and ($media-max-width: $max-width-768) {
                        font-size: torem(28px);
                        padding: 0;
                    }
                }
                .sub-title {
                    font-size: 14px;
                    line-height: 26px;
                    color: #6e6e6e;

                    @include mobile-font-size(24px);
                }
            }

            .advantage-list-four,
            .advantage-list-two,
            .advantage-list-three {
                margin-left: 38px;
            }

            @media #{$media} and ($media-max-width: $max-width-768) {
                .advantage-list-four,
                .advantage-list-three {
                    margin-left: torem(13px);
                }

                .advantage-list-two {
                    margin-left: 0;
                }
            }

            @include common-advantage-sprite(-221px, -70px, -242px, -413px, -584px);
        }

        
    }

    @extend .extend-workflow;
}