@charset "utf-8";

@import "../variables";
@import "../function";
@import "../mixins";

html,
body {
	height: 100%;
	background-image: linear-gradient(-40deg, 
		#41b7fe 34%, 
		#50d9f6 100%), 
	linear-gradient(0deg, 
		#000000 0%, 
		#ffffff 100%);
	background-blend-mode: normal, 
		normal;
	box-shadow: 0px 5px 10px 0px 
		rgba(56, 173, 255, 0.2);
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #f8fafb inset;
	-webkit-text-fill-color: #333;
}
.page-login {
	max-width: 100%;
    height: 100%;
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;

	.module-input-border {
		// width: 351px;
		height: 50px;
		background-color: #f8fafb;
		border-radius: 24px;
	}
	.module-login-box {
		width: 430px;
		height: 440px;
		background: url(../../img/base/login-left.png) no-repeat;
		margin-right: 110px;
	}
	.element-content {
		padding: 58px;
		background-color: #ffffff;
		border-radius: 10px;

		.element-title {
			line-height: 18px;
			text-align: center;

			.element-login-title {
				font-size: 24px;
				line-height: 18px;
				color: #333333;
				margin-right: 20px;
			}
			.element-login {
				font-size: 24px;
				color: #41b7fe;
			}
			.element-regist {
				float: right;
				font-size: 18px;
				line-height: 18px;
				color: #6e7b7d;

				i {
					width: 18px;
					height: 18px;
					background: url(../../img/base/goto.png) no-repeat;
				}
			}
		}

		.layui-form {
			padding-top: 50px;

			.module-input-border {
				display: flex;
				align-items: center;
				margin-bottom: 12px;
				padding: 0 22px;
			}

			.element-remember {

			}
			.element-forgot {
				color: #6e7b7d;
				float: right;
				text-decoration: underline;
				text-align: right;
				cursor: pointer;
				visibility: hidden;
			}

			button {
				width: 351px;
				height: 50px;
				margin-top: 13px;
				background-image: linear-gradient(-85deg, 
					#41b7fe 34%, 
					#50d9f6 100%), 
				linear-gradient(0deg, 
					#000000 0%, 
					#ffffff 100%);
				background-blend-mode: normal, 
					normal;
				box-shadow: 0px 5px 10px 0px 
					rgba(56, 173, 255, 0.2);
				border-radius: 10px;
				font-size: 18px;
			}
		}
	}

	.layui-form-checkbox[lay-skin="primary"]:hover i {
		border-color: $base-color;
	}
	.layui-form-checked[lay-skin="primary"] i {
		border-color: $base-color;
    	background-color: $base-color;
	}
	.layui-input {
		border-top: none !important;
		border-right: none !important;
		border-left: none !important;
		background-color: #f8fafb;
	}
}